<% layout("layout/boilerplate.ejs") %>

<div class="big--Container">
  <div class="inside--Container-1">
    <div class="about-card">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
        alt="avatar"
        class="rounded-circle img-fluid"
        style="width: 150px"
      />
      <h5 class="my-3"><%= user.username %></h5>
      <div class="d-flex justify-content-center mb-2">
        <% let cnt = 0%> <%let ans = false; %>
        <%if(user.username!==currentUser.username) {%> <% for(let follower of
        user.followers){ %> <% if(follower.username===currentUser.username)
        {ans=true}; cnt++; %> <% } %> <% if(ans) {%>
        <button type="button" class="btn btn-danger" style=" margin: 5px;">
          <a
            style="color: white;"
            href="/users/<%=currentUser.username%>/<%=user.username%>/unfollow"
            >Unfollow</a
          >
        </button>

        <% } else{ %>
        <button type="button" class="btn btn-success" style=" margin: 5px;">
          <a style="color: white" href="/users/<%=user.username%>/follow">Follow</a>
        </button>

        <% } %> <% } %>

        <button
          type="button"
          style="
            background-color: linear-gradient(
              to right,
              #b983ff 0%,
              #8a39e1 51%,
              #7a0bc0 100%
              
            );
            margin: 5px;"
          
          class="btn btn-primary"
        >
          Message
        </button>
      </div>
    </div>
  </div>

  <div class="inside--Container-1">
    <div class="about-card">
      <div class="card-body">
        <div class="row">
          <h2 class="heyy">DETAILS</span></h2>
          <div class="col-sm-3">
            <p class="mb-0">Full Name</p>
          </div>
          <div class="col-sm-9">
            <p class="mb-0"><%=user.username%></p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Username</p>
          </div>
          <div class="col-sm-9">
            <p class="mb-0"><%=user.username%></p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-9">
            <p class="mb-0"><%=user.email%></p>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
  <div class="inside--Container">
    <div class="about-card" style="overflow: scroll;">
      <h3 class="heyy" style="text-align: center" style="display: inline-block">
        <span>FOLLOWERS</span>
      </h3>
      <ul class="list-group list-group-flush rounded-3">
        <% for(let follower of user.followers){ %>
        <li
          class="list-group-item d-flex justify-content-between align-items-center p-3"
        >
          <a class="mb-0" href="/users/<%= follower.username %> " style="color: black; font-size: 20px;"
            ><%= follower.username %>
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
  <div class="inside--Container">
    <div class="about-card" style="overflow: scroll;">
      <h3 class="heyy" class="mb-4">
      <span>HISTORY</span>
      </h3>
      <% for(let game of user.history){ %>
      <div
        class="history-card"
        style="min-height: 100px; margin-bottom: 20px; overflow: hidden"
      >
        <h3><%= game.game %></h3>

        <% if(game.status==="won") { %>
        <div class="history-card-inner">
          <div class="history-card-text" style="color: rgb(18, 64, 18)">
            <a href="/users/<%=game.winner%>" style="color: rgb(18, 64, 18)"><%=game.winner%></a>
          </div>
          <div class="vs-div">
            <div class="vsImage">
              <img src="/images/vs2.png" alt="" />
            </div>
          </div>
          <div class="history-card-text" style="color: rgb(147, 14, 14)">
            <a href="/users/<%=game.loser%>" style="color: rgb(147, 14, 14)"><%=game.loser%></a>
          </div>
        </div>

        <% } else { %>
        <div class="history-card-inner">
          <div class="history-card-text" style="color: rgb(86, 86, 86)">
            <a href="/users/<%=game.winner%>" style="color: rgb(86, 86, 86)"><%=game.winner%></a>
          </div>
          <div class="vs-div">
            <div class="vsImage">
              <img src="/images/vs2.png" alt="" />
            </div>
          </div>
          <div class="history-card-text" style="color: rgb(86, 86, 86)">
            <a href="/users/<%=game.loser%>" style="color: rgb(86, 86, 86)"><%=game.loser%></a>
          </div>
        </div>

        <% } %>
      </div>
      <% }%>
    </div>
  </div>
</div>
