<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>GameHub</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- animate CSS -->

    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/about.css">



    <link rel="stylesheet" href="/css/leaderboard.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/profile.css">

    <style>
/* A simple, css only, (some-what) responsive menu */

a {
  text-decoration: none;
  color: #fff;
  display: block;
}

ul {
  list-style: none;
  position: relative;
  text-align: left;
}

li {
  float: left;
}

/* clear'n floats */
ul:after {
  clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

/* prime *

/* subs */
ul.sub {
  position: absolute;
  top: 58px;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 25%;
  display:none;
  background-color: #222831;
  color: white;
}

ul.sub li {
  float: none;
  margin: 0;
}

ul.sub li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  padding: 15px 30px;
  color: white;
}
ul.sub li a:hover{
  color: #6E3CBC;
}

ul.sub li:last-child a {
  border-bottom: none;
}


/* sub display*/
ul.primary li:hover ul {
  display: block;

}

ul li ul {
  transition: display 2000ms ease-in;
}

/* keeps the tab background white */
ul.primary li:hover a {
  /* color: rgb(215, 80, 199); */
  text-shadow: none;
  transition: display 500ms ease-in;
}


@media only screen and (max-width: 600px) {
  .decor {
    padding: 3px;
  }

  .wrap {
    width: 100%;
    margin-top: 0px;
  }

   li {
    float: none;
  }

  ul.primary li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }

  ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }

  ul.sub {
    display: block;
    position: static;
    box-shadow: none;
    width: 100%;
  }

  ul.sub li a {
    background: #272727;
  	border: none;
    color: #8B8B8B;
  }

  ul.sub li a:hover {
    color: #ccc;
    background: none;
  }
}

@media (max-width: 992px){
  ul.sub {
  position: absolute;
  top: 78px;
  left: 55%;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 45%;
  display:none;
  background-color: #222831;
}
}

@media (max-width: 424px){
  ul.sub {
  position: absolute;
  top: 78px;
  left: 45%;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 65%;
  display:none;
  background-color: #222831;
}
}


    </style>


    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&family=Nunito+Sans:wght@200;300&family=Ubuntu:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- font awesome -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css"> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
  </head>
  <body>
    <div id="bg_body">
      <!-- NavBar  -->

      <header class="main_menu single_page_menu">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg navbar-light nav_1">
                <a class="navbar-brand" href="/"
                  ><img src="images/logo.png" alt="" style="width: 100px"
                /></a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="menu_icon"
                    ><i class="fas fa-bars fa-2x"></i
                  ></span>
                </button>

                <div
                  class="collapse navbar-collapse main-menu-item"
                  id="navbarSupportedContent"
                >
                  <ul class="navbar-nav primary">
                    <li class="nav-item nav-links diff">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item nav-links diff">
                      <a class="nav-link" href="#redirect">Games</a>
                    </li>

                    <!-- <li class="nav-item nav-links diff">
                      <a class="nav-link leader-btn" href="">Leaderboard</a>
                      <ul class="leader-menu">
                        <li>Tic Tac toe</li>
                        <li>Tic Tac toe</li>
                        <li>Tic Tac toe</li>
                        <li>Tic Tac toe</li>
                      </ul>
                    </li> -->

                    <li class="nav-item nav-links diff">

                      <a class="nav-link" href="#">Leaderboard</a>

                      <ul class="sub">
                        <li><a href="/leaderboard/tictactoe" style="text-decoration:none">Tic Tac Toe</a></li>
                        <li><a href="/leaderboard/connect4" style="text-decoration:none">Connect 4</a></li>
                        <li><a href="/leaderboard/dotsandboxes" style="text-decoration:none">Dots and Boxes</a></li>
                        <li><a href="/leaderboard/codenames" style="text-decoration:none">Codenames</a></li>
                      </ul>

                    </li>
                    <!-- <li class="nav-item nav-links diff">
                      <div style="background-color: rgba(255, 255, 255, 0);" class="dropdown">
                        <button style="background-color: rgba(255, 255, 255, 0); border: none;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Leaderboard
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </li> -->

                    <!-- <div class="projects nav-item nav-links diff">
                      <button class="nav-link leader-btn">Projects</button>
                      <ul>
                        <li><a href="#">Weather App</a></li>
                        <li><a href="#">Music App</a></li>
                        <li><a href="#">React App</a></li>
                        <li><a href="#">Youtube App</a></li>
                      </ul>
                    </div>
                     -->


                    <!-- <li class="nav-item nav-links diff">
                      <a class="nav-link" href="leaderBoard/tictactoe.ejs">LeaderBoard</a>
                    </li> -->
                    <li class="nav-item nav-links diff">
                      <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item nav-links diff">
                      <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <% if(currentUser===undefined) {%>
                      <li class="nav-item nav-links login">
                        <a href="/login" class="btn_1 d-sm-block">Login</a>
                      </li>
                      <li class="nav-item nav-links login signup">
                        <a href="/register" class="btn_1 d-sm-block">Sign Up</a>
                      </li>
                      <% } else { %>
                        <li class="nav-item nav-links login">
                          <a href="/users/<%=currentUser._id%>" class="btn_1 d-sm-block">Hi! <%= currentUser.username %></a>
                        </li>
                        <li class="nav-item nav-links login signup">
                          <a href="/logout" class="btn_1 d-sm-block">Logout</a>
                        </li>
                      <% } %>

                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
        <% if(success!==undefined && success.length) {%>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p><%= success %></p>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          <% } %> <% if(error!==undefined && error.length) {%>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p><%= error %></p>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          <% } %>
      </header>


      <%-body  %>


    <section id="section2" style="background-color: #0e1a23">

      <div id="background"></div>
      <hr size="5" class="hr" />
      <div id="container-mid">
        <div id="contact">
          <i style="display: block" class="fa-solid fa-address-card fa-3x center icons"></i><br />
          <p style="display: block">Contact</p>
        </div>
        <div id="games">
          <i class="fa-solid fa-vr-cardboard fa-3x center icons"></i><br />
          <p>Games</p>
        </div>
        <div id="reviews">
          <i class="fa-solid fa-headset fa-3x center icons"></i><br />
          <p>Reviews</p>
        </div>
      </div>
      <hr size="5" class="hr" id="hr2" />

      <!-- FOOTER -->
      <div class="grid-container-2">
        <div id="grid-item-9">
          <a href="#">
            <img src="images/logo.png" alt="" />
          </a>
        </div>
        <div id="grid-item-7">
          <div class="footer">
            <!-- <ul>
              <li class="waste"><a href="#">Iron Man</a></li>
              <li class="waste"><a href="#">Iron Man</a></li>
              <li class="waste"><a href="#">Iron Man</a></li>
              <li class="waste"><a href="#">Iron Man</a></li>
            </ul> -->
            <div class="footer_links"><a href="#">ADDRESS</a></div>
            <div class="footer_links">
              Indian Institute of Technology Indore,
              <br>
              Khandwa Road, Simrol, Indore 453552,
              <br>
              INDIA
            </div>
          </div>
        </div>
        <div id="grid-item-8">
          <div class="footer">
            <div class="footer_links"><a href="/">Home</a></div>
            <div class="footer_links"><a href="/#redirect">Games</a></div>
            <div class="footer_links"><a href="/about">About</a></div>
            <div class="footer_links"><a href="/contact">Contact</a></div>
            <!-- <ul style="text-decoration: none;">
              <li class="waste"><a href="/">Home</a></li>
              <li class="waste"><a href="/#redirect">Games</a></li>
              <li class="waste"><a href="/about">About</a></li>
              <li class="waste"><a href="/contact">Contact</a></li>
            </ul> -->
          </div>
        </div>
        <div class="last">
          <hr size="6" class="end" />
        </div>
      </div>
      <div class="copyright">Copyright GameHub 2022</div>
    </section>


    <!-- jquery plugins here-->
    <script src="/js/jquery-1.12.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>

    <!-- <script src="main.js"></script> -->
    <!-- custom js -->
    <script src="/js/custom.js"></script>
  </body>
</html>
